:root {
  --green: #66cc33;
  --orange: #ff9933;
  --blue: #2caae1;
  --gray: rgba(59, 62, 71, 1);
  --black: rgba(0,0,0,1);
  --red: rgba(181, 29, 34, 1);
  --hover: #1d3d8f;
  --light: rgba(0,0,0,0.1);
  --white: rgba(255, 255, 255, 1);
}
@font-face {
  font-family: "jarrod";
  src:url(../fonts/TheGreatEscape.ttf);
}
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 1em;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: calc(1.2em + .66vw);
  background: #F0F0F0;
}

h1 {font-size: calc(1.75em + .66vw);}
h2 {font-size: calc(0.75em + .66vw);; line-height: calc(1.1em + .8vw);}
h3 {font-size: calc(1.1em + .66vw); font-weight: 400;}
h3 > span {font-size: calc(100% * 0.75); font-weight: 300; color: var(--gray);}
p {font-size: calc(1em + .25vw); line-height: calc(1.2em + .8vw);}
p + p {margin-top: 24px;}
a {color: var(--blue); text-decoration: underline;}
a:hover {color: var(--hover);}
div.title {white-space: nowrap;}
strong {font-weight: 800;}
abbr {text-decoration: none; background-color: rgba(255,153,51,0.25);}

/* --------------------------- --------- --------------------------- */
/* ----------------------- css grid settings ----------------------- */
/* --------------------------- --------- --------------------------- */
.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  padding: 72px;
  grid-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: minmax(120px, 160px) minmax(32px, 40px) minmax(24px, 36px) auto auto;
  justify-items: center;
}
.casestudy {
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: minmax(auto, 400px) minmax(28px, 48px) auto auto auto;
  height: auto;
  padding: 8px;
  grid-gap: 24px;
}

/* .profile__image {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-row: 1;
  -ms-grid-row: 1;
} */
.casestudy__image {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-row: 1;
  -ms-grid-row: 1;
}
/* .name {
  grid-column: 1 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-row: 2;
  -ms-grid-row: 2;
  align-self: center;
}
.title {
  grid-column: 1 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-row: 3;
  -ms-grid-row: 3;
  align-self: center;
}
.subject {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 4;
  grid-row: 4;
} */
.casestudies {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      justify-self: safe center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 2 / -2;
  -ms-grid-row: 4;
  grid-row: 4;
}
.overview {
  margin: 0px 32px;
  font-weight: 300;
  grid-row: 3;
  grid-column: 2 / -2;
}
.overview i {color: var(--gray);}
.case {
  margin: 32px 0px 64px 0px;
  display: grid;
  grid-gap: 32px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}
.case__details {
  grid-row: 1;
  -ms-grid-row: 1;
  max-width: calc(45em + 1vw);
}
.case__details h3 {
  margin-bottom: 1em;
}
.case__deliverables {
  grid-row: 2;
  -ms-grid-row: 2;
  justify-self:center;
}
a.btn {
  padding: .25em 1.5em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
.column {
  text-align:center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  justify-items: center;
  -ms-grid-row: 5;
  grid-row: 5;
}
.left__column {-ms-grid-column: 2;-ms-grid-column-span: 2;grid-column: 2 / span 2;}
.center__column {-ms-grid-column: 4;-ms-grid-column-span: 2;grid-column: 4 / span 2;}
.right__column {-ms-grid-column: 6;-ms-grid-column-span: 2;grid-column: 6 / span 2;}
.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 16px;
  overflow: hidden;
}
.portfolio img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  -webkit-logical-height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolio__overlay {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--blue);
  opacity: 0;
  position: relative;
}
.portfolio__overlay i {
  color: #ffffff;
  font-size: 3em;
}
.portfolio__description {
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 5000;
}
.column:hover .portfolio__overlay {
  opacity: .9;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  text-decoration: none;
}
.portfolio:hover + .portfolio__description {
  color: var(--hover);
}
.information {
  grid-column: 1 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-row: 7;
  -ms-grid-row: 7;
  align-self: end;
  justify-self: center;
}

/* -------- global changes on mobile size -------- */

@media only screen and (max-width: 720px) {
  .container > * {font-size: calc(100% * 0.75);}
  .column {
    -ms-grid-row-align: start;
        align-self: start;
    justify-items: center;
    -ms-grid-row: 5;
    grid-row: 5;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }

  .left__column {-ms-grid-column: 3;-ms-grid-column-span: 4;grid-column: 3 / span 4; -ms-grid-row: 5; grid-row: 5;}
  .center__column {-ms-grid-column: 3;-ms-grid-column-span: 4;grid-column: 3 / span 4; -ms-grid-row: 6; grid-row: 6;}
  .right__column {-ms-grid-column: 3;-ms-grid-column-span: 4;grid-column: 3 / span 4; -ms-grid-row: 7; grid-row: 7;}
  .container {padding: 24px;-ms-grid-rows: 120px minmax(24px, 28px) minmax(21px, 32px) 1fr 1fr 1fr 2fr;grid-template-rows: 120px minmax(24px, 28px) minmax(21px, 32px) 1fr 1fr 1fr 2fr 1fr;}
  .subject {-ms-grid-column: 1;-ms-grid-column-span: 8; grid-column: 1 / -1;}
  .casestudies {-ms-grid-column: 2;-ms-grid-column-span: 4; grid-column: 1 / -1;}
  .casestudy {grid-template-rows: minmax(120px, 180px) minmax(28px, 32px) minmax(24px, 36px) auto auto;}
  .overview {
    margin: 0px;
    grid-column: 1 / -1;
  }
  .profile__image {
    height: 120px;
    width: 120px;
  }
  .information {
    grid-row: 8;
    -ms-grid-row: 8;
  }
  .portfolio__overlay i {
    font-size: 2em;
  }

}
@media only screen and (max-width: 379px) {
  .left__column {-ms-grid-column: 2;-ms-grid-column-span: 6;grid-column: 2 / span 6;}
  .center__column {-ms-grid-column: 2;-ms-grid-column-span: 6;grid-column: 2 / span 6;}
  .right__column {-ms-grid-column: 2;-ms-grid-column-span: 6;grid-column: 2 / span 6;}
  .portfolio__overlay i {font-size: 1em;}

}

/* --------------------------- --------- --------------------------- */
/* ------------------------- landing page ------------------------ */
/* --------------------------- --------- --------------------------- */

.name h1 {color: var(--orange);}
.title h2 {color: var(--gray);}
.subject h3 {color: var(--green);}
.subject p {color: var(--gray);}
.subject {-ms-grid-column: 3;-ms-grid-column-span: 4;grid-column: 3 / 7;}
.profile__image img {
  grid-column: 1 / -1;
  grid-row: 1;
  width: auto;
  height: 100%;
  border: 4px solid white;
  border-radius: 80px;
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
          box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  -ms-grid-column-align: center;
      justify-self: center;
}
/* -------- landing page less than 720px wide -------- */

@media only screen and (max-width: 720px) {
  .landing > .subject {grid-column: 1 / -1;}
  .landing > .profile__image > img, .validation > .profile__image > img, .contact > .profile__image > img {-ms-grid-column-align: normal;justify-self: normal;}}

/* --------------------------- --------- --------------------------- */
/* --------------------------- discovery --------------------------- */
/* --------------------------- --------- --------------------------- */

.discovery > * {
  color: var(--red);
  font-family: 'jarrod', cursive;
}
body.discovery {
  background-image: -webkit-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-image: -o-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-image: linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
  background-size: 100% 1.6em;
  background-color: #faf2ad;
}
.discovery .profile__image img {
  grid-column: 1 / -1;
  -ms-grid-column: 1;
  grid-row: 1;
  -ms-grid-row: 1;
  width: auto;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}
.discovery a.btn {
  border: 3px solid var(--blue);
  border-radius: 0px 2px;
  font-size: 1.25em;
}
.discovery a.btn:hover {
  border: 2px solid var(--hover);
}
.discovery h3 > span {color: var(--red);}

/* -------- discovery less than 720px wide -------- */
@media only screen and (max-width: 720px) {
  .discovery .profile__image img {-ms-grid-column-align: normal;justify-self: normal;}
}
@media only screen and (min-width: 1400px) {
  .discovery .profile__image img {-ms-grid-column-align: center;justify-self: safe center;}
}

/* --------------------------- --------- --------------------------- */
/* --------------------------- ideation --------------------------- */
/* --------------------------- --------- --------------------------- */

.ideation > * {
  color: var(--black);
  font-family: Helvetica, Arial;
  font-weight: 500;
}
body.ideation {
  background: #fefefe;
}
.ideation .profile__image img {
  grid-column: 1 / -1;
  grid-row: 1;
  width: auto;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}
.ideation .casestudy__image {
  background-color: var(--gray);
  width: 100%;
  max-height: 396px;
}
.ideation a.btn {
  border: 2px solid var(--blue);
  background-color: var(--blue);
  border-radius: 0px;
  padding: .75em 1.5em;
  color: #ffffff;
}
.ideation a.btn:hover {
  border: 2px solid var(--hover);
  background-color: var(--hover);
  color: #ffffff;
}
.casestudy__image i {
  font-size: 3em;
  justify-self: center;
  align-self: center;
  color: #ffffff;
}

/* -------- ideation less than 720px wide -------- */

@media only screen and (max-width: 720px) {
  .ideation .profile__image {
    background-size: 120px 120px;
  }
  .ideation .profile__image img {-ms-grid-column-align: normal;justify-self: normal;}}

/* --------------------------- --------- --------------------------- */
/* --------------------------- Design --------------------------- */
/* --------------------------- --------- --------------------------- */

.design .profile__image img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: auto;
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 80px;
}
.design h1, .validation h1 {color: var(--orange);}
.design h3, .validation h3 {color: var(--green);}

#discovery {
  background: center / contain no-repeat url(../img/hero/discovery.png);
  width: 100%;
  max-height: 396px;
}
#design-system {
  background: center / cover no-repeat url(../img/hero/design-system.jpg);
  width: 100%;
  max-height: 396px;
}
#survey {
  background: center / cover no-repeat url(../img/hero/survey.jpg);
  width: 100%;
  max-height: 396px;
}
#prototype {
  background: center / cover no-repeat url(../img/hero/prototype.jpg);
  width: 100%;
  max-height: 396px;
}
#frontend {
  background: center / cover no-repeat url(../img/hero/frontend.jpg);
  width: 100%;
  max-height: 396px;
}
#usability {
  background: center / cover no-repeat url(../img/hero/usability.jpg);
  width: 100%;
  max-height: 396px;
}
#abtesting {
  background: center / cover no-repeat url(../img/hero/abtesting.jpg);
  width: 100%;
  max-height: 396px;
}
.design a.btn, .validation a.btn {
  border: 2px solid #ffffff;;
  border-radius: 6px;
  padding: .75em 1.5em;
  background-color: var(--blue);
  color: #ffffff;
}
a.btn__disabled {
  border-radius: 6px;
  padding: .75em 1.5em;
  border: 2px solid #e6e6e6;
  background-color: #cccccc;
  color: #e6e6e6;
  text-decoration: none;
  font-weight: 600;
  cursor: not-allowed;
}
.design a.btn:hover {
  border: 2px solid var(--hover);
  background-color: var(--hover);
}
a.btn i {margin-right: .75em;}


/* -------- design less than 720px wide -------- */

@media only screen and (max-width: 720px) {
  .design .photo {background-size: 120px 120px;}
  .design .profile__image img {-ms-grid-column-align: normal;justify-self: normal;}
}
/* #discovery, #design-system, #survey, #prototype, #frontend, #usability, #abtesting {
  max-height: 120px;
} */

.contact h2 {
  color: var(--blue);
  text-align: center;
  justify-items: center;
  line-height: 2.5;
  white-space:nowrap;
}
h2 > i {margin-right: 8px;}

.validation .portfolio img, .validation .casestudy__image, .validation a.btn {
  -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
          box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}
.validation a.btn:hover {
  border: 2px solid #ffffff;
  background: linear-gradient(var(--blue), var(--hover));
}

/* --------------------------- --------- --------------------------- */
/* ----------------------- navigation buttons ----------------------- */
/* --------------------------- --------- --------------------------- */
.vertical-nav {
  position: fixed;
  z-index: 9000;
  right: 3%;
  top: auto;
  bottom: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.return-nav{
  position: fixed;
  z-index: 9000;
  left: 3%;
  top: 3%;
}
.vertical-nav a, .return-nav a {
  display: block;
  height: 40px;
  width: 40px;
  background-image: url(../img/nav-arrow.png);
  opacity: .3;
}
.vertical-nav a:hover, .return-nav a:hover {
  opacity: 1;
}
.vertical-nav a.back {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 10px;
}
.return-nav a.return {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -o-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

@media only screen and (max-width: 720px) {
  .vertical-nav a {
    height: 24px;
    width: 24px;
    background-size: contain;
}
}

/* --------------------------- --------- --------------------------- */
/* ----------------------- navigation dots ----------------------- */
/* --------------------------- --------- --------------------------- */
.timeline {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  right: 3em;
  top: 20vh;
}
.dot {
  width: 1em;
  height: 1em;
  border: 1px solid var(--blue);
  border-radius: 1em;
  flex-grow: 0;
}
.dot:hover {
  background: var(--blue);
}
.dot span {
  position: absolute;
  right: 100%;
  opacity: 0;
  padding-right: 0px;
  text-align: right;
  margin-top: -18px;
  background: var(--blue);
  padding: 8px 16px;
  border-radius: 2px;
  color: var(--white);
}
.dot:hover span {
  opacity: .9;
  transition: all .1s linear;
  margin-right: 16px;
}
.spacer {
  width: 1px;
  background: var(--light);
  flex-grow:2;
  margin: 4px;
}
.timeline .active {
  background: var(--hover);
  border: 2px solid var(--hover);
}

@media only screen and (max-width: 720px) {
  .timeline {
    right: 1.5em;
    height: 50vh;
    top: 25vh;
  }
  .dot {
    width: .6em;
    height: .6em;
  }

}


/* --------------------------- --------- --------------------------- */
/* --------------------- animated cursor line --------------------- */
/* --------------------------- --------- --------------------------- */
.cursorLine{
	border: 1px solid var(--gray);
	-webkit-animation: lineAnimate 1s infinite;
	        animation: lineAnimate 1s infinite;
	margin-left: 8px;
}
@-webkit-keyframes lineAnimate {
	40%{opacity: 1;}
	50%{opacity: 0;}
	90%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes lineAnimate {
	40%{opacity: 1;}
	50%{opacity: 0;}
	90%{opacity: 0;}
	100%{opacity: 1;}
}
.helper{
	-webkit-animation: blinking 2s infinite;
	        animation: blinking 2s infinite;
  border: none;
}
@-webkit-keyframes blinking {
	0%{opacity: .3;}
	50%{opacity: 1;}
	100%{opacity: .3;}
}
@keyframes lineAnimate {
  0%{opacity: .3;}
	50%{opacity: 1;}
	100%{opacity: .3;}
}

/* --------------------------- --------- --------------------------- */
/* ---------------------------- IE Fixes ---------------------------- */
/* --------------------------- --------- --------------------------- */

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  div.profile__image, div.name, div.title, div.information {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .landing > .profile__image > img, .validation > .profile__image > img, .contact > .profile__image > img, .design > .profile__image > img {height: 160px;}
  body {color: #777777;}
  a {color: #2caae1;}
  a:hover {color: #1d3d8f;}
  .discovery > * {color: rgba(181, 29, 34, 1);}
  .portfolio__overlay {background: #2caae1; text-align:center;}
  .portfolio:hover + .portfolio__description {color: #2caae1;}
  .landing > .name > h1, .validation > .name > h1, .contact > .name > h1 {color: #ff9933;}
  .landing > .title > h2, .validation > .title > h2, .contact > .title > h2 {color: #777777;}
  .landing > .subject > h3, .validation > .subject > h3, .contact > .subject > h3 {color: #66cc33;}
  .landing > .subject > p, .validation > .subject > p, .contact > .subject > p {color: #777777;}
  .design > .name > h1 {color: #ff9933; font-weight: 300;}
  .design > .subject > h3 {color: #66cc33;}
  .contact .subject h2 {color: #2caae1;}
  .cursorLine{border: 1px solid #777777;}
  .portfolio__overlay i {
    display: inline-block;
    position: relative;
    top: 39%;
    left: 42%;
  }
  .information {
    font-size: 9px;
  }

}
