:root {
  --primary: rgba(29, 158, 214, 1);
  --secondary: rgba(4, 100, 142, 1);
  --alt: rgba(24, 126, 170, 1);
  --charcoal: rgba(58, 58, 58, 1);
  --danger: rgba(181, 29, 34, 1);
  --light: rgba(0,0,0,0.1);
  --white: rgba(250, 250, 250, 1);
  --text: rgba(47,50,57,0.8);
  --base: rgba(240, 240, 240, 1);
  --baseOne: rgba(236, 236, 236, 1);
  --baseTwo: rgba(227, 227, 227, 1);
  --baseThree: rgba(222, 222, 222, 1);
  --baseFour: rgba(208, 208, 208, 1);
}
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-size: 1em;
  scroll-behavior: smooth;
}
body {
  background: #F0F0F0;
  background: var(--base);
  color: #595A5F;
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  line-height: calc(1.2em + .5vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  min-height: 100vh;
  position: relative;
  background: #F0F0F0;
  background: var(--base);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='13' height='13' fill-opacity='0.07' fill='%23000000'/%3E%3C/svg%3E");
  background-attachment: fixed;
  z-index: 1;
}
.buffer {
  height: 4vh;
  width: 100%;
}
h1 {font-size: calc(3em + .25vw); font-weight: 300;}
h2 {font-size: calc(2.25em + .25vw); line-height: calc(1.1em + .4vw);}
h3 {font-size: calc(1.25em + .25vw); font-weight: 300;}
h3.center {text-align:center;}
h4 {font-size: calc(1.5em + .125vw); font-weight: 300;}
p, ul {font-size: calc(1em + .125vw); line-height: calc(1.2em + .5vw); max-width: 80ch;}
p + p {margin-top: 24px;}
a {color: #1D9ED6; color: var(--primary); text-decoration: underline;}
a:hover {color: #04648E; color: var(--secondary);}
strong {font-weight: 800;}
abbr {text-decoration: none; background-color: rgba(255,153,51,0.25);}
ul {
  list-style: disc outside none;
}
ul li {
  line-height: 1.5;
  margin: 8px 0px 0px 24px;
}
h2.ccicon > i {
  margin-right: 24px;
  box-shadow: 0px 3px 7px rgba(4, 100, 142, 0.8);
}
blockquote{
  margin: 32px;
}
blockquote p {
  font:normal 21px/32px Open Sans;
  margin: 1em 0;
  padding: 0 1em;
  border-left: 6px solid var(--primary);
}
blockquote p:before {
  color: var(--baseFour);
  font-family: times;
  content: '“';
  font-size: 3.2em;
  line-height: 0em;
  margin-right: 0.05em;
  vertical-align: -0.4em;
}
blockquote p:after {
  color: var(--baseFour);
  font-family: times;
  content: '”';
  font-size: 3.2em;
  line-height: 0em;
  margin-right: 0.05em;
  vertical-align: -0.4em;
}

/* --------------------------- --------- --------------------------- */
/* --------------------------- Navigation -------------------------- */
/* --------------------------- --------- --------------------------- */

nav {
  display: grid;
  grid-template-columns: 56px auto 1fr auto;
  background: #1D9ED6;
  background: var(--primary);
  height: 64px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
  box-shadow: 0px 3px 9px rgba(0,0,0,0.2);
  align-items: center;
  padding: 12px;
}
nav img {
  grid-column: 1;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  max-width: 40px;
  max-height: 40px;
}
nav h3 {
  grid-column: 2;
  color: #3A3A3A;
  color: var(--charcoal);
  font-size: calc(1em * 1.125);
  font-weight: 400;
}
nav h3 span {padding: 0px 8px;}
nav h3 a {
  color: #fafafa;
  color: var(--white);
  text-decoration: none;
}
nav h3 a:hover {color: #3A3A3A; color: var(--charcoal);}


/* --------------------------- --------- --------------------------- */
/* ---------------------- Secondary Navigation --------------------- */
/* --------------------------- --------- --------------------------- */

.secondaryNav {
  padding: 72px 0;
}
.top_fab {
  display: flex;
  height: 56px;
  width: 56px;
  overflow:hidden;
  background: #187EAA;
  background: var(--alt);
  opacity: .5;
  border-radius: 100%;
  /* color: #fafafa;
  color: var(--white); */
  justify-content: center;
  top: 2em;
  left: 94vw;
  transform: translateY(calc(-90% + 94vh));
  position: sticky;
  position: -webkit-sticky;
}
.top_fab i.material-icons {
  align-self: center;
  font-size: 3.5em;
}
.top_fab:hover {
  opacity: 1;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}

#secondary, .ccicon {
  display:flex;
  justify-content: center;
  align-items: center;
}
#secondary i, .ccicon i {
  display:inline-block;
  margin:8px;
  padding:0;
  width:56px;
  height:56px;
  line-height:50px;
  box-sizing:border-box;
  text-align:center;
  font-size:32px;
  font-style: normal;
  font-weight: 400;
  border:3px solid;
  background-color: var(--base);
  border-color: var(--primary);
  color: var(--primary);
}

/* --------------------------- --------- --------------------------- */
/* ------------------------- Page Structure ------------------------ */
/* --------------------------- --------- --------------------------- */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100vw;
  line-height: 1.5;
}
section h1 {
  color: #1D9ED6;
  color: var(--primary);
}
section h2 {
  line-height: 3;
  color: #04648E;
  color: var(--secondary);
  align-self: flex-start;
  font-weight: 300;
}
section p, ul {
  margin: 8px 8vw 16px;
}
section h4 {
  margin: 48px 8vw 8px;
  color: #04648E;
  color: var(--secondary);
}
section h6 {
  margin: 8px 0px 48px;
  align-self:center;
}

section div{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.halfPad {padding: 72px 20vw;}
.halfPad_noTop {padding: 0px 20vw 72px;}
.quarterPad {padding: 72px 12vw;}
.eighthPad {padding: 72px 6vw;}
.noPad {padding: 72px 2vw;}

.cases > p, .cases > h4, .cases > ul {
  align-self: flex-start;
  max-width: 75ch;
}
/* .centered h3 {align-self: center;} */
#Graph {flex: 0 0;}

/* --------------------------- --------- --------------------------- */
/* ------------------------------ Hero ----------------------------- */
/* --------------------------- --------- --------------------------- */

.hero {
  padding: 64px 0px 0px;
}
.hero * {
  align-self:center;
}

.hero div {
  display: flex;
  flex-shrink: 1;
  width: calc(100vw - 128px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  max-height: 400px;
  margin: 64px 0px;
}
.hero div img {
  flex: 1 1;
  width: calc(100vw - 128px);
  -webkit-logical-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
}

/* --------------------------- --------- --------------------------- */
/* ---------------------------- CS imgs ---------------------------- */
/* --------------------------- --------- --------------------------- */

section:nth-child(3) {padding-top: 0px;}
.cases div {
  display: flex;
  flex: 1 1;
  margin: 72px 0px 8px;
  max-height: 600px;
}
.cases div img {
  flex: 1 1;
  max-width: 60vw;
  -webkit-logical-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
}
.cases div canvas {
  flex: 1 1;
}
.chartResponsive {
  position: relative;
  margin: auto;
  height: 480px;
  max-width: 1200px;
}
div.horizontal {
  margin: 32px 0px 8px;
  max-height: 900px;
}
div.horizontal img {
  flex: 1 1;
  width: auto;
  -webkit-logical-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 900px;
}
.caseImg {
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
.slide-up {
  opacity: 0;
  transition: all .6s;
}
.caseImg.slide-up {
  transform: translateY(16px) scale(0.9);
}
.slide-up.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* --------------------------- --------- --------------------------- */
/* ------------------------- welcome section ----------------------- */
/* --------------------------- --------- --------------------------- */

#welcome div:first-child {
  display: flex;
  align-self:center;
  border: 1px solid white;
  border-radius: 100%;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  width: 50%;
  padding: 25% 0;
  border-radius: 100%;
  background: center / cover no-repeat url("../img/new-profile.jpg");
  margin: 4vh;
}
#welcome h3 {
  color: #3A3A3A;
  color: var(--charcoal);
  margin: 8px 0px 32px;
}
#welcome p {max-width: 48ch; align-self:center;}
.jobTitle h3 {
  height: 18px;
}

#welcome h1, #approach h2, #case_studies h2 {align-self:center;}

/* --------------------------- --------- --------------------------- */
/* ------------------------- panels section ----------------------- */
/* --------------------------- --------- --------------------------- */

.panels {
  min-height: 80vh;
  margin: 2vw;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.panel {
  box-shadow: inset 0 0 0 4px rgba(29,158,214,0.4);
  color: #fafafa;
  color: var(--white);
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.31,-0.11, 0.4,-0.11);
  background-size: cover;
  background-position: center;
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #1D9ED6;
  background-color: var(--primary);
  background-blend-mode: multiply;
}

.panel1 { background-image: url("../img/discover.jpg"); }
.panel2 { background-image: url("../img/ideate.jpg"); }
.panel3 { background-image: url("../img/design.jpg"); }
.panel4 { background-image: url("../img/validate.jpg"); }

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.82), 0 0 16px rgba(0, 0, 0, 0.32);
}
.panel h3 {
  font-size: 2.5em;
}
.panel p {
  font-size: 1.5em;
  margin: 0 64px;
  max-width: 28ch;
}
.panel.open {
  flex: 2 1 auto;
}
.panel.open .panelFlip {
  transform: rotateY(180deg);
}
.panelFlip {
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.31,-0.11, 0.4,-0.11);
}
.front, .back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.back {
  transform: rotateY( 180deg );
  transition: transform 0.7s cubic-bezier(0.31,-0.11, 0.4,-0.11);
}

/* --------------------------- --------- --------------------------- */
/* ------------------------- layout options ------------------------ */
/* --------------------------- --------- --------------------------- */

.primary, .blue {
  background-color: #1D9ED6;
  background-color: var(--primary);
}
.white {
  background-color: #fafafa;
  background-color: var(--white);
}
.baseOne {
  background-color: #ECECEC;
  background-color: var(--baseOne);
}
.baseTwo {
  background-color: #E3E3E3;
  background-color: var(--baseTwo);
}
.baseThree {
  background-color: #E0E0E0;
  background-color: var(--baseThree);
}
.reversed, .charcoal {
  background-color: #3A3A3A;
  background-color: var(--charcoal);
}
.reversed *, .primary * {
  color: #fafafa;
  color: var(--white);
}
.reversed .thumbnail a h3:hover {
  color: #04648E;
  color: var(--secondary);
}

.flexQuad {
  margin: 0px 8vw 72px;
  flex-wrap: wrap;
}
.flexTrio {margin: 0 10vw;}

.flexTrio article {flex-basis: content;}
.flexQuad article {
  flex-basis: calc(50% - 32px);
  margin-bottom: 32px;
}


/* --------------------------- --------- --------------------------- */
/* ------------------------- thumbnail  ------------------------ */
/* --------------------------- --------- --------------------------- */

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 32px 16px;
  flex: 1 1;
}
article a {text-decoration: none;}
article a h3 {font-size: calc(1em * 1.66);}
article a h3 span {font-size: calc(1em * .66);}
article a h3 span:before {
  content: "\A";
  white-space: pre;
}
i.material-icons {
  color: #fafafa;
  color: var(--white);
  font-size: calc(1em * 5);
}
article div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  overflow: hidden;
}
article div img {
  width: 100%;
  /* max-height: 360px;
  min-height: 280px; */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  -webkit-logical-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

article div a {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #04648E;
  background: var(--secondary);
  opacity: 0;
  position: relative;
  text-align:center;
}

article h3 {
  text-align:center;
  margin-top: 16px;
  line-height: 1.2;
}
article:hover div a {
  opacity: .8;
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  text-decoration: none;
}
article:hover > a h3, article:hover a h3 span {
  color: #04648E;
  color: var(--secondary);
}

/* --------------------------- --------- --------------------------- */
/* -------------------------- Case Studies ------------------------- */
/* --------------------------- --------- --------------------------- */

#case_studies {
  margin: 4vh auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: auto;
  width: 92vw;

}
.case_study{
  display: flex;
  flex-direction: column;
  flex: 0 0 36%;
  align-items: start;
  margin: 24px;
  background-color: #fafafa;
  background-color: var(--white);
  padding: 32px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  border-radius: 4px;
}
.case_study article {
  margin: 0px 0px 8px;
  width: 100%;
}
.case_study article div {
  max-height: 320px;
  align-content: center;
}

.case_study h5 {opacity:.6;}
.case_study h3 {
  font-size: calc(1.66em + .25vw);
  margin: 8px 0;
}
.case_study a {text-decoration:none;}
div.media{
  flex: 1 1;
  width: 100%;
}
div.content{
  max-width: 48ch;
}
.chartResponsive canvas {height: 600px;}

/* --------------------------- --------- --------------------------- */
/* -------------------------- Deliverables ------------------------- */
/* --------------------------- --------- --------------------------- */

#deliverables {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: auto;
  width: 100vw;
  padding: 6vh 0;
}

#deliverables > h3 {
  text-align: center;
  width: 100%;
  color: #fafafa;
  color: var(--white);
}
.deliverable{
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-start;
  margin: 24px;
  background-color: #fafafa;
  background-color: var(--white);
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  border-radius: 4px;
  flex: 0 0 20%;
}
.deliverable article {
  margin: 0px 0px 16px;
}
.deliverable article div {
  max-height: 320px;
  align-content: center;
}
.deliverable article div img {
  width: 100%;
  /* max-height: 200px;
  min-height: 90px; */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  -webkit-logical-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.deliverable h3 {
  font-size: calc(1.125em + .25vw);
}
.deliverable h5 {opacity:.6;}

.deliverable .content{
  max-width: 48ch;
  align-items: start;
  flex-direction: column;
}

.deliverable a {text-decoration:none;}


.case_thumb div img {
  max-height: 180px;
  min-height: 120px;
}
.case_thumb a h3 {font-size: calc(1em + .25vw);}


/* --------------------------- --------- --------------------------- */
/* ----------------------------- Footer ---------------------------- */
/* --------------------------- --------- --------------------------- */

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #04648E;
  background-color: var(--secondary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='13' height='13' fill-opacity='0.66' fill='%23045a80'/%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

footer a {
  font-size: 3em;
  color: #fafafa;
  color: var(--white);
  margin: 16px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.82), 0 0 16px rgba(0, 0, 0, 0.32);
}
a.twitter:hover {color: #00acee;}
a.linkedin:hover {color: #0e76a8;}
a.adobe:hover {color: #ff3500;}

/* --------------------------- --------- --------------------------- */
/* ----------------------------- < 1600 ---------------------------- */
/* --------------------------- --------- --------------------------- */

@media only screen and (max-width: 1600px) {
  .panels {
    flex-direction: column;
    flex-flow: wrap;
    }
  .panel {
    flex: 1 1 50%;
    flex-wrap: nowrap;
  }
  .panel.open {
    flex: 0 0 50%;
  }
}

/* --------------------------- --------- --------------------------- */
/* ----------------------------- < 1200 ---------------------------- */
/* --------------------------- --------- --------------------------- */

@media only screen and (max-width: 1200px) {
  h1 {font-size: calc(2.4em + .25vw);}
  h2 {font-size: calc(1.75em + .75vw);}
  .flexQuad {margin: 0px 6vw 56px;}
  article {margin: 16px;}
  #case_studies {
    max-width: 92vw;
  }
  .deliverable{
    flex: 0 0 33%;
  }
  .hero div img {max-height: 360px;}
  .cases div img {max-width: 72vw; height: 400px;}
  .chartResponsive {width: 80vw; height: 360px;}
  div.horizontal {max-height: 1000px;}
  div.horizontal img {max-height: 1000px;}
  /* article div img {
    max-height: 400px;
  } */

  .top_fab {
    height: 48px;
    width: 48px;
    top: 2em;
    left: 94vw;
  }
  .top_fab i.material-icons {
    font-size: 2.75em;
  }
}

/* --------------------------- --------- --------------------------- */
/* ----------------------------- < 990 ----------------------------- */
/* --------------------------- --------- --------------------------- */

@media only screen and (max-width: 990px) {
  nav h3 {font-size: calc(1em * 1);}
  section h1, section h2 {margin: 8px 0px;}
  section p {margin: 16px 7%;}
  section h4 {margin: 24px 7% 0px;}
  /* section h3 {margin-bottom: 24px;} */
  article a h3 {font-size: calc(1em * 1.25);}
  /* article div img {
    max-height: 400px;
  } */
  /* .deliverable article div img {
    max-height: 400px;
    min-height: 360px;
  } */
  .case_study, .deliverable {flex: 1 1 auto;}
  .deliverable{
    max-width: 86vw;
  }
  #welcome div:first-child {
    width: 40%;
    padding: 20% 0;
    margin: 16px;
  }
  #welcome div:first-child img {
    max-width: calc(50% - 64px);
    max-height: calc(50% - 64px);
  }
  #case_studies {
    max-width: 100vw;
  }
  .halfPad {padding: 48px 12%;}
  .halfPad_noTop {padding: 0px 12% 48px;}
  .quarterPad {padding: 48px 6%;}
  .eighthPad {padding: 48px 3%;}
  .noPad {padding: 48px 1%;}
  .flexTrio article {flex: 0 0 80%;}
  section {
    flex-wrap: nowrap;
    height: auto;
    padding: 48px 0;
  }
  .deliverable h3 {
    font-size: calc(1.25em + .25vw);
  }
  section div {flex-wrap:wrap;}
  .cases div img {
    max-width: 86vw;
  }
  div.horizontal {max-height: 1200px;}
  div.horizontal img {max-height: 1200px;}
  .reversed {
    height: auto;
  }
  .hero div img {max-height: 320px;}
  .top_fab {
    top: 2em;
    left: 90vw;
  }
  ul li {
    margin: 8px 0px 0px 8px;
  }
}

/* --------------------------- --------- --------------------------- */
/* ----------------------------- < 720 ----------------------------- */
/* --------------------------- --------- --------------------------- */

@media only screen and (max-width: 720px) {
  .panels {
    flex-direction: column;
  }
  .panel.open {
    flex: 4 1 auto;
  }
  .panel h3 {
    font-size: 1.75em;
  }
  .panel p {
    font-size: 1.25em;
    margin: 0 48px;
  }
  h1 {font-size: calc(1.75em + .25vw);}
  h2 {font-size: calc(1.5em + .25vw);}
  h4 {font-size: calc(1.125em + .75vw); font-weight: 300;}
  nav h3 {font-size: calc(1em * .8);}
  article a h3 {font-size: calc(1em * 1.5);}
  .flexQuad article {flex: 0 0 100%;}
  .flexTrio article {flex: 0 0 100%;}
  h2.ccicon > i {margin-right: 16px;}

  #welcome div:first-child {
    width: 50%;
    padding: 25% 0;
    margin-top: 32px;
  }
  .hero {padding: 48px 0px 24px 0px;}
  .hero div {
    margin: 16px 0px;
    max-height: 240px;
    width: 100vw;
}
  .hero div img {
    width: 100vw;
  }
  .hero h3 {margin: auto 32px;}

  .content{
    margin: 8px 0px;
  }
}

/* --------------------------- --------- --------------------------- */
/* ----------------------------- < 501 ----------------------------- */
/* --------------------------- --------- --------------------------- */

@media only screen and (max-width: 501px) {
  /* nav {
    grid-template-columns: 6fr auto auto auto;
    padding: 22px 12px;
  }
  nav img {display:none;}
  nav h3 {
    grid-column: 1;
    font-size: calc(1em * .75);
  }
  nav h3 span {padding: 0px 4px;} */
  section {
    padding: 24px 0;
  }
  section p {line-height: 1.5;}
  section h1, section h2 {margin: 24px 0px 16px;}
  blockquote{margin: 16px;}
  blockquote p {
    font:normal 18px/27px Open Sans;
    margin: .5em 0;
    padding: 0 .5em;
  }
  blockquote p:before {
    font-size: 2.7em;
  }
  blockquote p:after {
    font-size: 2.7em;
  }
  footer a {
    font-size: 2em;
    margin: 16px;
  }
  .case_study article, .deliverable article {
    margin: 8px;
  }
  .case_study {
    margin: 0px 0px 24px;
    padding: 24px;
  }
  .deliverable {
    margin: 16px 24px;
    padding: 24px;
  }
  .cases div img {
    max-width: 96vw;
  }
  .top_fab {
    top: 1em;
    left: 80vw;
  }
  .halfPad {padding: 24px 8%;}
  .halfPad_noTop {padding: 0px 8% 24px;}
  .quarterPad {padding: 24px 4%;}
  .eighthPad {padding: 24px 2%;}
  .noPad {padding: 24px 1%;}
  div.media{
    min-width: auto;
  }
  div.media figure {
    max-height: 180px;
  }
}
